<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>aPPlot</title>
    <link rel="stylesheet" href="assets/css/login.css" type="text/css">
    <script type="text/javascript">
      if (localStorage.getItem('accesstoken') != null)
        window.location = `${window.location.protocol}//${window.location.hostname}/home`
    </script>
  </head>

  <body>

    <div id="login">
      <div id="demo">
        <img src="assets/images/applot.png" width="200px" height="auto">
      </div>
      <div id="teja">
        <marquee direction="up" scrollamount="5">
          <p>CEO Applot</p>
          <img src="assets/images/teja.jpeg" width="200px" height="auto">
        </marquee>
      </div>
      <div class="container" v-bind:class="{'log-in': panel}">
        <div class="box"></div>
        <div class="container-forms">
          <div class="container-info">
            <div class="info-item">
              <div class="table">
                <div class="table-cell">
                  <p>Have an account?</p>
                  <div class="btn" v-on:click="togglePanel()">Log in</div>
                </div>
              </div>
            </div>
            <div class="info-item">
              <div class="table">
                <div class="table-cell">
                  <p>Don't have an account?</p>
                  <div class="btn" v-on:click="togglePanel()">Sign up</div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-form">
            <div class="form-item log-in">
              <div class="table">
                <div class="table-cell">
                  <p v-if="loginError" class="login-error">{{loginMessage}}</p>
                  <input name="Username" placeholder="Username" type="text" v-model="loginUsername"/>
                  <input name="Password" placeholder="Password" type="Password" v-model="loginPass"/>

                  <div class="btn" v-on:click="login()">Log in</div>
                </div>
              </div>
            </div>
            <div class="form-item sign-up">
              <div class="table">
                <div class="table-cell">
                  <input name="email" placeholder="Email" type="text" v-model="signupEmail"/>
                  <input name="fullName" placeholder="Full Name" type="text" v-model="signupFullname"/>
                  <input name="Username" placeholder="Username" type="text" v-model="signupUsername"/>
                  <input name="Password" placeholder="Password" type="Password" v-model="signupPass"/>

                  <div class="btn" v-on:click="signup()">Sign up</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script	src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="assets/js/login.js"></script>
    <!-- <script type="text/javascript" src="assets/js/script.js"></script> -->
  </body>
</html>
